.App {
  font-family: 'Quicksand', sans-serif;
  text-align: center;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.nav-logo{
  margin: 7px 0 0 0;
  width: 35px;
}

.nav-extended{
  background-color:  hsl(187, 98%, 35%)}

  .row{
    text-align: center;
  }
  
  .nav-logo{
    margin: 7px 0 0 0;
    width: 35px;
  }


  .footer-logo {
    margin: 7px 0 0 0;
    width: 50px;
  }

.page-footer {
  background-color:  hsl(187, 98%, 35%);
  text-align:center;
  width: 100%;
}

.instructionsIcon{
  position: relative;
  width: 60%;
}


.askSendPic{
  position: absolute;
  height: 30px;

}
.sendDiv{
position: relative;
top: 50%;
left: 50%;
transform: translate(-50%, -50%)
}
.askDiv{
  width:100%;
}
.askSendText{
  font-size: 250%;
  
  top: 50%;
  left: 50%;
  
  color: hsl(187, 98%, 35%);
}

.askSendContainer{
  position: relative;
  text-align: center;
  width: 100%;
}

.disclaimer{
  font-size: 70%;
  text-align: left;
}
.disclaimerheader{
  font-size: 80%;
  text-align: center;
  text-transform: uppercase;
}
.footerdiv{
  background-color:  hsl(187, 98%, 35%);
}

.space{
  height: 40px;
}