.App {
  font-family: 'Quicksand', sans-serif;
  text-align: center;
}

.nav-logo{
  margin: 7px 0 0 0;
  width: 35px;
}

.nav-extended{
  background-color:  hsl(187, 98%, 35%)}

  .row{
    text-align: center;
  }
  
  .nav-logo{
    margin: 7px 0 0 0;
    width: 35px;
  }


  .footer-logo {
    margin: 7px 0 0 0;
    width: 50px;
  }

.page-footer {
  background-color:  hsl(187, 98%, 35%);
  text-align:center;
  width: 100%;
}